<div class="shipping">
    <h3>Shipping & Delivery Policy</h3>
    <p>We ship all received orders once or twice a week. You can always contact us to make sure you have your purchase
        on time. All products are wrapped with the utmost care. Multiple shipments/delivery may result in multiple
        postings to the cardholder’s monthly statement.</p>
    <p>Delivery timing of the product is 4 business days.</p>
    <p>For urgent orders or questions, please contact us, we will always try to help you out!</p>
    <br>
    <p style="font-style: italic;">Note: shipping fees are non-refundable. We are not responsible for any duties or
        customs taxes for orders
        shipping overseas.</p>

    <h3>Exchange & Return Policy</h3>
    <p>However, if you are unhappy with your purchase and you would like to return it or exchange it, please contact our
        Customer Care team, we will definitely be happy to help.</p>
    <h3>Online Policy</h3>

    <ul>
        <li>Items bought online through official website, must be returned via our local customer support.</li>
        <li>Any item bought on a third party website is not our responsibility.</li>
        <li>We accept exchange or refund for same priced items within 14 days if the item is not opened but the shipping
            charges will be borne by the customer.</li>
        <li>We accept exchange or refund for same priced items within 14 days if the item is opened but we’ve confi­rmed
            it is wrong or has a quality issue. Shipping charges will be borne by Swiss Arabian.</li>
        <li>If you wish to cancel your order you can do so by informing us within 24 hours.</li>
    </ul>
    <p> Timings: 8 AM – 6 PM, Monday to Friday</p>
    <h3>In Store Policy</h3>

    <ul>
        <li>If an item is bought through our store, it can be exchanged or refunded from the same Swiss Arabian store
            within
            14 days if the item is not opened and still sealed with the plastic wrap.</li>
        <li>Any exchange in special offer or any kind of offers, products will be for full price and not be as per the
            discounted price. Replacement with the same product if the item has a quality issue.</li>
        <li>The invoice must be present at the time of exchanges and refunds.</li>
        <li>We accept exchange or refund for same priced items within 14 days if the item is opened but we’ve confi­rmed
            it is wrong or has a quality issue. Shipping charges will be borne by Swiss Arabian.</li>
        <li>Items on sale will be exchanged with the same product only and gifts and samples will not be exchanged or
            refunded</li>
    </ul>
    <p>
        All customer queries will be answered within 48 working hours.</p>


</div>