*{
    font-family: 'Merriweather Sans', sans-serif;
}
.aboutdiv{
    width: 60vw;
    padding: 5rem;
    margin: auto;
    margin-top: 3%;
}
h3{
    font-size: 18px;
    color: rgb(89, 13, 34);
    line-height: 5rem;
    font-weight: bold;
}
p{
    font-size: 14px;
    color: rgb(89, 13, 34);
}
@media only screen and (max-width: 900px) {
    .aboutdiv{
        width: 80vw;
    }
}