<div class="contact">

    <form [formGroup]="gitForm" class="form">
        <h3>Get in Touch</h3>
        <p>Have a question about a product or an order, drop us a message and we'll get back to you.</p>
        <fieldset class="username">
            <input formControlName="name" name="name" type="text" placeholder="Name" />
        </fieldset>
        <div *ngIf="this.gitForm.get('name')?.errors&&this.gitForm.get('name')?.touched"
                    style="color: red; font-size: 12px; text-align: left;">Name is required</div>
        <fieldset class="email">
            <input formControlName="email" name="email" type="email" placeholder="Email" />
        </fieldset>
        <div style="text-align:left" *ngIf="this.gitForm.get('email')?.errors&&this.gitForm.get('email')?.touched"
        style="color: red; font-size: 12px; text-align: left;">Enter a valid email id</div>
        <fieldset class="phonenumber">
            <input formControlName="phonenumber" name="phonenumber" type="text" placeholder="Phonenumber" />
        </fieldset>
        <div style="text-align:left" *ngIf="this.gitForm.get('phonenumber')?.errors&&this.gitForm.get('phonenumber')?.touched"
        style="color: red; font-size: 12px; text-align: left;">Enter a valid phone number</div>
        <fieldset class="message">
            <textarea formControlName="message" name="message" placeholder="Message"></textarea>
        </fieldset>
        <div style="text-align:left" *ngIf="this.gitForm.get('message')?.errors&&this.gitForm.get('message')?.touched"
        style="color: red; font-size: 12px; text-align: left;">Enter your message</div>
        <button type="button" class="btn" (click)="saveMessage()">Send</button>
    </form>
</div>