<div class="login">
    <div class="signup-classic">
        <form [formGroup]="forgotForm" class="form">
            <h2>Reset Password</h2>
            <fieldset class="username">
                <input formControlName="username" type="text" placeholder="username" />
            </fieldset>
            <fieldset class="password">
                <input formControlName="password" type="password" placeholder="new password" />
            </fieldset>
            <fieldset class="password">
                <input formControlName="repassword" type="password" placeholder="re-enter new password" />
            </fieldset>
            <button type="button" class="btn" (click)="resetpassword()">Submit</button>
            <!-- <div class="my-4">
                <span class="bottomlink">Allready a user? <a routerLink="/login">login</a></span>
            </div> -->
            <div class="my-4">
                <span class="bottomlink">Don't have an account? <a routerLink="/register">Sign up</a></span>
            </div>
        </form>
    </div>
</div>