<div class="terms">
    <h3>Terms & Conditions</h3>
    <p>Access to this Website is permitted on a temporary basis, and we reserve the right to withdraw or amend the
        Services without notice. We will not be liable if for any reason this Website is unavailable at any time or for
        any period. From time to time, we may restrict access to some parts or all of this Website.</p>
    <p>This Website accepts no responsibility for 3rd party websites to which it may link to.</p>
    <p>The details provided on these pages may change at any time and you are encouraged to review the statements at
        regular intervals.</p>

    <h3>Online Store Terms</h3>
    <p>By agreeing to these Terms of Service, you represent that you are at least the age of majority in your country of
        residence and by ordering that product you are confirming that you are of the required age. You may not use our
        products for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in
        your jurisdiction (including but not limited to copyright laws).</p>
    <h3>General Condition</h3>
    <p>We reserve the right to refuse service to anyone for any reason at any time. You understand that your content
        (not including credit card information), may be transferred unencrypted and involve (a) transmissions over
        various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or
        devices. Credit card information is always encrypted during transfer over networks.</p>


</div>