<div class="homediv">
    <div class="carcontainer">
        <mdb-carousel>
            <mdb-carousel-item>
                <img src="https://i.postimg.cc/nrBLmLCn/w-1.jpg" class="d-block w-100 h-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5>This is the </h5>
                    <h2>MOMENT</h2>
                  </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img src="../../assets/images/wall (1).jpg" class="d-block w-100 h-100" alt="..." />
                <div id="secslide" class="carousel-caption d-none d-md-block">
                    <h5>This is the </h5>
                    <h2>PASSION</h2>
                  </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img src="https://i.postimg.cc/XJN6q2dN/wall-2.jpg" class="d-block w-100 h-100" alt="..." />
                <div id="thirdslide" class="carousel-caption d-none d-md-block">
                    <h5>This is the </h5>
                    <h2>SCENT</h2>
                  </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>

    <div class="carddiv">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img id="frimg" src="https://i.postimg.cc/cJbP1sxh/HAMSAH-1-1.jpg" class="card-img-top" alt="" />
                    <img src="https://i.postimg.cc/2yG63HHC/HAMSAH-3-1.jpg" class="card-img-top imgtop"
                        alt="Card Front">
                    <div class="card-body">
                        <h5 class="card-title">HAMSAH</h5>
                        <p class="card-text">
                            White Floral, Honey
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-75 w-75" style="margin-top: 10vh !important; margin: auto;">
                    <img id="frimg" src="https://i.postimg.cc/fLFsPcSw/EDGE-WOMEN-1-1.jpg" class="card-img-top"
                        alt="" />
                    <img src="https://i.postimg.cc/Nf0TmTRd/EDGE-WOMEN-3-1.jpg" class="card-img-top imgtop"
                        alt="Card Front">
                    <div class="card-body pb-5">
                        <h5 class="card-title">EDGE</h5>
                        <p class="card-text">Fruity, Citrus</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img id="frimg" src="https://i.postimg.cc/yxtNFqyy/ANAQA-1-1.jpg" class="card-img-top" alt="" />
                    <img src="https://i.postimg.cc/X7TJqyLG/ANAQA-3-1.jpg" class="card-img-top imgtop" alt="Card Front">
                    <div class="card-body">
                        <h5 class="card-title">ANAQA</h5>
                        <p class="card-text">
                            Amber,Floral, Woody
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lgcard">
        <div class="box">
            <div class="card" id="scard">
                <div class="card__picture">
                    <!-- <img src="https://i.postimg.cc/L6GmVYJt/GHARAAM-3-1.jpg" alt=""> -->
                    <img src="https://i.postimg.cc/wvnJh5sC/w-2.jpg" alt="">
                </div>
                <div class="card__details">
                    <h3 class="card__details-name">THE PERFECT MIX</h3>
                    <span class="card__details-post">When it comes to fragrances, every note tells a story. And when
                        those notes come together they craft a brand story.</span>
                </div>
            </div>

        </div>
    </div>
</div>