<div class="homediv">
    <div class="carcontainer">
        <mdb-carousel>
            <mdb-carousel-item>
                <img src="https://i.postimg.cc/nrBLmLCn/w-1.jpg" class="d-block w-100 h-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5>This is the </h5>
                    <h2>MOMENT</h2>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img src="../../assets/images/wall (1).jpg" class="d-block w-100 h-100" alt="..." />
                <div id="secslide" class="carousel-caption d-none d-md-block">
                    <h5>This is the </h5>
                    <h2>PASSION</h2>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img src="https://i.postimg.cc/XJN6q2dN/wall-2.jpg" class="d-block w-100 h-100" alt="..." />
                <div id="thirdslide" class="carousel-caption d-none d-md-block">
                    <h5>This is the </h5>
                    <h2>SCENT</h2>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>

    <div class="carddiv">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col px-4 py-2" *ngFor="let r of random">
                <div class="card h-100">
                    <a routerLink="/perfumedetails" (click)="pushDetails(r)">
                        <img id="frimg" src={{r.url}} class="card-img-top" alt="" />
                        <img src={{r.url1}} class="card-img-top imgtop" alt="Card Front">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{r.name}}</h5>
                        <p class="card-text">
                            {{r.fragrance}}
                        </p>
                        <p class="card-text" style="font-size: 14px; font-weight: bold;">
                            <i class="fa-solid fa-indian-rupee-sign"></i> {{r.price-r.discount}}
                            <span class="ms-3" style="text-decoration: line-through; color: red;"
                                *ngIf="r.discount!=0"><i class="fa-solid fa-indian-rupee-sign"></i> {{r.price}}</span>
                        </p>
                        <p class="card-text">
                            <button class="btn btn-lg"
                                (click)="addtoCart(r.productid, r.name, r.price,r.url,r.discount)">ADD TO CART <i
                                    class="fa-solid fa-cart-shopping" style="font-size: 18px;"></i></button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lgcard">
        <div class="box">
            <div class="card" id="scard">
                <div class="card__picture">
                    <!-- <img src="https://i.postimg.cc/L6GmVYJt/GHARAAM-3-1.jpg" alt=""> -->
                    <img src="https://i.postimg.cc/wvnJh5sC/w-2.jpg" alt="">
                </div>
                <div class="card__details">
                    <h3 class="card__details-name">THE PERFECT MIX</h3>
                    <span class="card__details-post">When it comes to fragrances, every note tells a story. And when
                        those notes come together they craft a brand story.</span>
                </div>
            </div>

        </div>
    </div>
</div>